<%- include('../partials/header.ejs') %>

<h2>Find a Real Estate Suitable to Your Lifestyle!</h2>
<div class="listings-grid">
    <% listings.forEach(listing => { %>
        <% if (listing.isApproved) { %>
        <div class="listing-card">
            <div class="image-container">
                <img src="<%= listing.images[0] %>" alt="<%= listing.title %>">
            </div>
            
            <div class="listing-details">
                <h3><%= listing.title %></h3>
                <p class="location"><strong>Location:</strong> <%= listing.location%></p>
                <p class="area-size"><strong>Area:</strong> <%= listing.areaSize%></p>
                <p class="price"><strong>Price:</strong> <%= listing.price%></p>
                <a href="/listings/<%= listing._id %>" class="view-details">View Details</a>
            </div>
        </div>
        <% } %>
    <% }) %>
</div>

<%- include('../partials/footer.ejs') %>



<style>


  .image-container .no-image {
    font-style: italic;
    color: #777;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 200px; 
    background-color: #f7f7f7;
  }

  .listing-details .view-details {
    background-color: #0072CE; 
    transition: background-color 0.3s ease;
  }

  .listing-details .view-details:hover {
    background-color: #005fab; 
  }
</style>
