<%- include('../partials/header.ejs') %>

<h2><%= user.first %> <% user.last %>'s Profile</h2>
<img src="<%= user.picture %>" alt="Profile Picture" width="150">

<div>
    <a href=<%= `/auth/${user._id}/update-password` %>>Update Password</a>
</div>

<h3>Listings:</h3>
<ul>
    <% user.listings.forEach(listing => { %>
        <li><a href="/listing/<%= listings._id %>"><%= listing.title %></a></li>
    <% }) %>
</ul>

<%- include('../partials/footer.ejs') %>